h1 {
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
}

h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.em {
  color: #666;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}